<section ng-controller='ScoreCtrl' ng-init="list()">
    <div>
        <label>Recherche</label>
        <input type='text' ng-model='search.username' />
    </div>

    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="score in scores | filter:search">
                <td>
                    <a href="#users/{{score.user.username_canonical}}/scores" title="User Score history">
                        <img src="{{score.user.avatar}}" alt="avatar" />
                        {{user.username}}</a>
                </td>

                <td>
                    {{score.result}}
                </td>

                <td>
                    {{score.creation}}
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>