<div ng-controller="PlayCtrl">
    <!-- *****************************************************************************************************************
         BLUE WRAP
         ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Play it !</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

    <section id="page-content" class="container">
        <div class="alert alert-{{ saveScore.status }}" ng-show="saveScore.status">
            {{ saveScore.message }}
        </div>
        Game incoming
        <div>
            <button class="btn btn-primary" ng-click="saveScore()">
                <i class="fa fa-refresh margin-right-sm"></i> Generate Score
            </button>
        </div>
    </section>
</div>