<section ng-controller='UserCtrl' ng-init="list()">
    <div>
        <label>Recherche</label>
        <input type='text' ng-model='search.username' />
    </div>

    <article ng-repeat="user in users | filter:search">
        <h3>
            <a href="#users/{{user.username_canonical}}" title="{{user.username}}">
                <img src="{{user.avatar}}" alt="avatar" />
                {{user.username}}</a>
        </h3>

        <p>Meilleur score ? plus date ?</p>
        <p>Inviter dans une partie multi joueur</p>
    </article>
</section>