<div ng-controller='UserCtrl' ng-init="list()">
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Users</h3>
            </div>
        </div>
    </div>

    <section id="page-content" class="container">
        <div class="margin-bottom">
            <label>Recherche</label>
            <input type='text' ng-model='search.username' />
        </div>

        <section class="row">
            <article class="col-md-4 media" ng-repeat="user in users | filter:search">
                <a class="pull-left" href="#/users/{{user.username_canonical}}" title="{{user.username}}">
                    <img src="{{user.avatar}}" alt="avatar" width="50" />
                </a>

                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="#/users/{{user.username_canonical}}" title="{{user.username}}">
                            {{user.username}}</a>
                    </h4>

                    <p>Highest score + date - Add friend</p>
                </div>
            </article>
        </section>
    </section>
</div>