<section id='content' ng-controller='UserCtrl' ng-init="read()">
    <ul>
        <li>
            <a href="#users" title="Back to the List">
                Back to the List</a>
        </li>
        <li>
            <a href="#users/{{user.username_canonical}}/edit" title="Edit">
                Edit</a>
        </li>
        <li>
            <a href="#users/{{user.username_canonical}}/delete" title="Delete">
                Delete</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="#profile" title="Profile">
                Profile</a>
        </li>

        <li>
            <a href="#best-scores" title="Best Score">
                Best Score</a>
        </li>
    </ul>

    <h3>
        <img src="{{user.avatar}}" alt="avatar" />
        {{user.username}}
    </h3>

    <section id="profile">
        <span>{{user.email}}</span>

        <span>Récompenses ? médailles ?</span>
    </section>

    <section id="best-scores">
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="score in scores | filter:search">
                <td>
                    <a href="#users/{{score.user.username_canonical}}/scores" title="User Score history">
                        <img src="{{score.user.avatar}}" alt="avatar" />
                        {{user.username}}</a>
                </td>

                <td>
                    {{score.result}}
                </td>

                <td>
                    {{score.creation}}
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </section>



</section>