<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Login</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<section id="page-content" class="container">
    <section class="row">
        <div class="col-md-5">
            LOGO CHANGEABLE FROM BACK OFFICE FOR SPECIAL EVENT
        </div>

        <form id="login-form" class="col-md-7" action="" method="post">

            <div>
                <label>Login</label>
                <input type="text" id="login" name="login" />
            </div>


            <div>
                <label>Password</label>
                <input type="password" id="password" name="password" />
            </div>

            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </section>
</section>